*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
main,
#root,
.wrapper {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
